
body {
<<<<<<< HEAD
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 100px;
}

#phonoplayer {
  margin-left: 30px;
  
=======
    background-color: black;
}

h1 {
  font-family:Futura;
    color: lightgrey;
    text-align:center;
}

 #p5canvas {
  text-align:center;

>>>>>>> Rui
}

